spring:
  application:
    name: ms-order

  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
app:
  jwt:
    public-key-path: classpath:keys/public_key.pem

server:
  port: 8083

services:
  user:
    url: ${USER_SERVICE_URL:http://localhost:8081}
  product:
    url: ${PRODUCT_SERVICE_URL:http://localhost:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,loggers
      base-path: /actuator

  endpoint:
    health:
      show-details: always
      probes:
        enabled: true

  health:
    db:
      enabled: true
    ping:
      enabled: true

  metrics:
    enable:
      jvm: true
      process: true
      system: true
      http: true

    tags:
      application: ms-order
      environment: dev

    distribution:
      percentiles-histogram:
        http.server.requests: true

info:
  app:
    name: ms-order
    description: Microservice de gestion des commandes
    version: "1.0.0"

logging:
  level:
    root: INFO
    com.membership.order: DEBUG
